In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.naive_bayes import BernoulliNB
from sklearn.pipeline import Pipeline, make_pipeline

In [4]:
weather = pd.read_csv('/home/hasan/Desktop/DATA_SET/weather.csv')

In [5]:
weather.head()

    Outlook Temperature Humidity  Windy Play Golf
0     Rainy         Hot     High  False        No
1     Rainy         Hot     High   True        No
2  Overcast         Hot     High  False       Yes
3     Sunny        Mild     High  False       Yes
4     Sunny        Cool   Normal  False       Yes

In [6]:
weather['decision'] = weather['Play Golf'].apply(lambda x:1 if x=='Yes' else 0)

In [7]:
weather.head()

    Outlook Temperature Humidity  Windy Play Golf  decision
0     Rainy         Hot     High  False        No         0
1     Rainy         Hot     High   True        No         0
2  Overcast         Hot     High  False       Yes         1
3     Sunny        Mild     High  False       Yes         1
4     Sunny        Cool   Normal  False       Yes         1

In [8]:
target = weather['decision']
target

0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
Name: decision, dtype: int64

In [9]:
weather.drop(['Play Golf', 'decision'], axis=1, inplace=True)

In [10]:
weather.head()

    Outlook Temperature Humidity  Windy
0     Rainy         Hot     High  False
1     Rainy         Hot     High   True
2  Overcast         Hot     High  False
3     Sunny        Mild     High  False
4     Sunny        Cool   Normal  False

In [11]:
weather['Windy'] = weather['Windy'].astype('str')

In [12]:
weather.dtypes

Outlook        object
Temperature    object
Humidity       object
Windy          object
dtype: object

In [13]:
weather = weather['Outlook'] + weather['Temperature'] + weather['Humidity'] + weather['Windy']

In [14]:
Xtrain,xtest, Ytrain,ytest = train_test_split(weather,target, test_size=.25)

In [15]:
BNB = make_pipeline(TfidfVectorizer(), BernoulliNB())

BNB.fit(Xtrain, Ytrain)

Pipeline(memory=None,
         steps=[('tfidfvectorizer',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('bernoullinb',
                 BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None,
                             fit_prior=True))],
         verbose=False)

In [16]:
BNB.predict(xtest)

array([1, 1, 1, 1])

In [17]:
ytest

0     0
7     0
11    1
13    0
Name: decision, dtype: int64

In [18]:
BNB.score(xtest,ytest)

0.25