In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [9]:
data = pd.read_csv('/home/hasan/Desktop/DATA_SET/company-salary.csv')

In [10]:
data.head()

    company                  job    degree  100K USD
0    google     business manager  bachelor         1
1  facebook      sales executive  master’s         0
2    amazon  computer programmer  bachelor         0
3       ibm      sales executive  master’s         1
4    amazon     business manager  bachelor         0

In [11]:
LE = LabelEncoder()

In [12]:
data['company'] = LE.fit_transform(data['company'])
data['job'] = LE.fit_transform(data['job'])
data['degree'] = LE.fit_transform(data['degree'])

In [13]:
data.head()

   company  job  degree  100K USD
0        3    0       0         1
1        2    2       1         0
2        0    1       0         0
3        4    2       1         1
4        0    0       0         0

##### Feature and Label Dataset

In [14]:
y = data['100K USD']
X = data.drop('100K USD', axis=1)

##### Dividing Dataset

In [15]:
Xtrain,xtest, Ytrain,ytest = train_test_split(X,y, test_size=.25)

##### Algorithm

In [16]:
DTC = DecisionTreeClassifier()
DTC.fit(Xtrain,Ytrain)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

##### Score

In [17]:
DTC.score(xtest,ytest)

0.52