In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv('/home/hasan/Desktop/DATA_SET/Machine_Learning-basic-dataset/2 home details.csv')
data.head()

   area  bedroom  droing room  dyning room  kitchen  wash room   price
0  3000      2.0          0.0          1.0        1          1  300000
1  3100      2.0          1.0          1.0        1          1  320000
2  3315      3.0          1.0          1.0        2          2  350000
3  3600      3.0          1.0          1.0        3          3  450000
4  3477      2.0          NaN          1.0        1          1  310000

In [3]:
data.isnull().sum()

area           0
bedroom        1
droing room    1
dyning room    1
kitchen        0
wash room      0
price          0
dtype: int64

In [4]:
data.fillna(method='ffill', axis=0, inplace=True)
data.head()

   area  bedroom  droing room  dyning room  kitchen  wash room   price
0  3000      2.0          0.0          1.0        1          1  300000
1  3100      2.0          1.0          1.0        1          1  320000
2  3315      3.0          1.0          1.0        2          2  350000
3  3600      3.0          1.0          1.0        3          3  450000
4  3477      2.0          1.0          1.0        1          1  310000

In [6]:
MLR = LinearRegression()

MLR.fit(data[['area','bedroom','droing room','dyning room','kitchen','wash room']], data['price'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [7]:
MLR.coef_

array([    74.71474302, -32956.75503781,  19448.97225471, -32653.85529316,
        45487.05871082,   7073.92830077])

In [8]:
MLR.intercept_

109921.04539140628

In [9]:
MLR.predict([[4333,4,1,1,1,3]])

array([355336.96731523])